.timesheet-wrapper {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.timesheet-count {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: #f0f0f0;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
}

.timesheet {
  display: flex;
  align-items: center;
  padding-top: 25px; /* Add padding to make space for the count */
}

.timesheet-status {
  flex: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.timesheet-image {
  flex: 0 0 50px;
  margin-right: 15px;
}

.timesheet-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.timesheet-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.timesheet-details {
  flex: 0.8; /* Reduced from 2 to 1.5 */
  margin-right: 10px; /* Optional: You can adjust this value as needed */
}

.timesheet-column {
  flex: 1;
  text-align: center;
  margin-left: 10px; /* Optional: You can adjust this value to fine-tune the spacing */
}


.timesheet-column div {
  margin-bottom: 5px;
  color: #666;
  font-size: 12px;
}

.timesheet-column div:first-child {
  font-size: 14px;
  color: #000;
}

.status-icon {
  border-radius: 50%;
}
